<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", funding_plans_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_funding_plan_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> FundingPlans</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">ID</th>
                    <th>
            <%= t("activerecord.attributes.funding_plan.funding_type_id", :default => t("activerecord.labels.funding_type_id", :default => "Funding_type_id")) %>
          </th>
                    <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @funding_plans.each do |funding_plan| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= funding_plan.id %>
          </td>
                    <td>
            <%= link_to funding_plan.funding_type_id, funding_plan_path(funding_plan) %>
          </td>
                    <td>
            <%= funding_plan.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", funding_plan_path(funding_plan) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_funding_plan_path(funding_plan) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", funding_plan_path(funding_plan), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>


