<% title "Product Types" %>

<table>
  <tr>
    <th>Value</th>
  </tr>
  <% for product_type in @product_types %>
    <tr>
      <td><%= product_type.value %></td>
      <td><%= link_to "Show", product_type %></td>
      <td><%= link_to "Edit", edit_product_type_path(product_type) %></td>
      <td><%= link_to "Destroy", product_type, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Product Type", new_product_type_path %></p>
