
  <div class="group">
    <%= f.label :product_type_id, t("activerecord.attributes.product_type_supplier.product_type_id", :default => "Product type"), :class => :label %>
    <%= f.number_field :product_type_id, :class => 'number_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :supplier_id, t("activerecord.attributes.product_type_supplier.supplier_id", :default => "Supplier"), :class => :label %>
    <%= f.number_field :supplier_id, :class => 'number_field' %>
    <span class="description">Ex: a simple text</span>
  </div>
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>
  <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
	<%= link_to t("web-app-theme.cancel", :default => "Cancel"), product_type_suppliers_path, :class => "text_button_padding link_button" %>
</div>
