<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", model_years_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_model_year_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> ModelYears</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">ID</th>
                    <th>
            <%= t("activerecord.attributes.model_year.value", :default => t("activerecord.labels.value", :default => "Value")) %>
          </th>
                    <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @model_years.each do |model_year| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= model_year.id %>
          </td>
                    <td>
            <%= link_to model_year.value, model_year_path(model_year) %>
          </td>
                    <td>
            <%= model_year.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", model_year_path(model_year) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_model_year_path(model_year) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", model_year_path(model_year), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>


