<%= form_for @dealer_product_type do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :dealer_id %><br />
    <%= f.number_field :dealer_id %>
  </p>
  <p>
    <%= f.label :product_type_id %><br />
    <%= f.number_field :product_type_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
