<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", dealer_product_types_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_dealer_product_type_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> DealerProductTypes</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">ID</th>
                    <th>
            <%= t("activerecord.attributes.dealer_product_type.dealer_id", :default => t("activerecord.labels.dealer_id", :default => "Dealer_id")) %>
          </th>
                    <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @dealer_product_types.each do |dealer_product_type| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= dealer_product_type.id %>
          </td>
                    <td>
            <%= link_to dealer_product_type.dealer_id, dealer_product_type_path(dealer_product_type) %>
          </td>
                    <td>
            <%= dealer_product_type.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", dealer_product_type_path(dealer_product_type) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_dealer_product_type_path(dealer_product_type) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", dealer_product_type_path(dealer_product_type), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
