<%= form_for @customer_feature do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :customer_id %><br />
    <%= f.number_field :customer_id %>
  </p>
  <p>
    <%= f.label :feature_id %><br />
    <%= f.number_field :feature_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
