<%= form_for @appraisal_point do |f| %>
  <p>
    <%= f.label :appraisal_point_type_id %><br />
    <%= f.number_field :appraisal_point_type_id %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p><%= f.submit %></p>
<% end %>
