<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", quotes_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_quote_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Quotes</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">ID</th>
                    <th>
            <%= t("activerecord.attributes.quote.customer_id", :default => t("activerecord.labels.customer_id", :default => "Customer_id")) %>
          </th>
                    <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @quotes.each do |quote| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= quote.id %>
          </td>
                    <td>
            <%= link_to quote.customer_id, quote_path(quote) %>
          </td>
                    <td>
            <%= quote.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", quote_path(quote) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_quote_path(quote) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", quote_path(quote), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>


