<% title "Customer Dealers" %>

<table>
  <tr>
    <th>Customer</th>
    <th>Dealer</th>
  </tr>
  <% for customer_dealer in @customer_dealers %>
    <tr>
      <td><%= customer_dealer.customer_id %></td>
      <td><%= customer_dealer.dealer_id %></td>
      <td><%= link_to "Show", customer_dealer %></td>
      <td><%= link_to "Edit", edit_customer_dealer_path(customer_dealer) %></td>
      <td><%= link_to "Destroy", customer_dealer, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Customer Dealer", new_customer_dealer_path %></p>
