<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", customer_dealers_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_customer_dealer_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> CustomerDealers</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">ID</th>
                    <th>
            <%= t("activerecord.attributes.customer_dealer.customer_id", :default => t("activerecord.labels.customer_id", :default => "Customer_id")) %>
          </th>
                    <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @customer_dealers.each do |customer_dealer| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= customer_dealer.id %>
          </td>
                    <td>
            <%= link_to customer_dealer.customer_id, customer_dealer_path(customer_dealer) %>
          </td>
                    <td>
            <%= customer_dealer.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", customer_dealer_path(customer_dealer) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_customer_dealer_path(customer_dealer) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", customer_dealer_path(customer_dealer), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
