<%= form_for @dealer_metric do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :metric_id %><br />
    <%= f.number_field :metric_id %>
  </p>
  <p>
    <%= f.label :dealer_id %><br />
    <%= f.number_field :dealer_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
