<% title "Dealer User Role" %>

<p>
  <strong>Dealer User:</strong>
  <%= @dealer_user_role.dealer_user_id %>
</p>
<p>
  <strong>Role:</strong>
  <%= @dealer_user_role.role_id %>
</p>

<p>
  <%= link_to "Edit", edit_dealer_user_role_path(@dealer_user_role) %> |
  <%= link_to "Destroy", @dealer_user_role, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", dealer_user_roles_path %>
</p>
