<%= form_for @address_customer do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :address_id %><br />
    <%= f.number_field :address_id %>
  </p>
  <p>
    <%= f.label :customer_id %><br />
    <%= f.number_field :customer_id %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </p>
  <p>
    <%= f.label :primary %><br />
    <%= f.check_box :primary %>
  </p>
  <p><%= f.submit %></p>
<% end %>
