<%= form_for @period_value do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :seasonality_id %><br />
    <%= f.number_field :seasonality_id %>
  </p>
  <p>
    <%= f.label :period %><br />
    <%= f.number_field :period %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p><%= f.submit %></p>
<% end %>
