<% title "Dealer Contact Number" %>

<p>
  <strong>Dealer:</strong>
  <%= @dealer_contact_number.dealer_id %>
</p>
<p>
  <strong>Contact Number:</strong>
  <%= @dealer_contact_number.contact_number_id %>
</p>
<p>
  <strong>Primary:</strong>
  <%= @dealer_contact_number.primary %>
</p>

<p>
  <%= link_to "Edit", edit_dealer_contact_number_path(@dealer_contact_number) %> |
  <%= link_to "Destroy", @dealer_contact_number, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", dealer_contact_numbers_path %>
</p>
