<%= form_for @operand_reporting_category do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :operand_id %><br />
    <%= f.number_field :operand_id %>
  </p>
  <p>
    <%= f.label :reporting_category_id %><br />
    <%= f.number_field :reporting_category_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
