<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", currencies_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_currency_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Currencies</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">ID</th>
                    <th>
            <%= t("activerecord.attributes.currency.value", :default => t("activerecord.labels.value", :default => "Value")) %>
          </th>
                    <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @currencies.each do |currency| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= currency.id %>
          </td>
                    <td>
            <%= link_to currency.value, currency_path(currency) %>
          </td>
                    <td>
            <%= currency.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", currency_path(currency) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_currency_path(currency) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", currency_path(currency), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>


