<% title "Funding Plan Volume Bonus Plan" %>

<p>
  <strong>Funding Plan:</strong>
  <%= @funding_plan_volume_bonus_plan.funding_plan_id %>
</p>
<p>
  <strong>Volume Bonus Plan:</strong>
  <%= @funding_plan_volume_bonus_plan.volume_bonus_plan_id %>
</p>

<p>
  <%= link_to "Edit", edit_funding_plan_volume_bonus_plan_path(@funding_plan_volume_bonus_plan) %> |
  <%= link_to "Destroy", @funding_plan_volume_bonus_plan, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", funding_plan_volume_bonus_plans_path %>
</p>
