<% title "Reporting Category Metrics" %>

<table>
  <tr>
    <th>Reporting Category</th>
    <th>Metric</th>
  </tr>
  <% for reporting_category_metric in @reporting_category_metrics %>
    <tr>
      <td><%= reporting_category_metric.reporting_category_id %></td>
      <td><%= reporting_category_metric.metric_id %></td>
      <td><%= link_to "Show", reporting_category_metric %></td>
      <td><%= link_to "Edit", edit_reporting_category_metric_path(reporting_category_metric) %></td>
      <td><%= link_to "Destroy", reporting_category_metric, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Reporting Category Metric", new_reporting_category_metric_path %></p>
