<div class='nested-fields form-horizontal funding-method-container show-hide-controller-container' data-id=<%= f.object.id %>>
	<fieldset>
	  <%= remove_form_link(f)  unless defined? permanent %>
		<legend>Funding Details</legend>
		<div class="control-group">
			<label class="control-label">Funding Type</label>
			<div class="controls">
				<%= f.select(:funding_type, @funding_types.collect {|p| [ p.value, p.id ] }, {:prompt => "", :selected => f.object.funding_plan ? f.object.funding_plan.funding_type_id : nil }, {:id => "funding_type_selector_#{f.object.id}", :class => "show-hide-controller", "data-chained" => "true",  "data-chained-url-name" => "funding_type_id", "data-chained-children" => "true", "data-chained-parent" => "funding_type_selector_#{f.object.id}", "data-placeholder" => "Select Funding Type", "data-show-hide-details" => ".funding-method-container,funding_type_selector,data-funding-field-type,fundingFields"}) %>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Funding Supplier</label>
			<div class="controls">
				<%= f.select(:supplier, options_for_select([]), {:prompt => ""}, {:id => "funding_supplier_selector_#{f.object.id}", :class => "chained-child funding-area-changeable set-initial-value", "data-chained" => "true", "data-chained-url-name" => "supplier_id", "data-chained-children" => "true", "data-chained-parent" => "funding_supplier_selector_#{f.object.id}", "data-chained-to" => "#funding_type_selector_#{f.object.id}", "data-chained-url" => "/suppliers.json", "data-placeholder" => "Select Supplier", "data-initial-value" => (f.object.supplier.id if f.object.supplier) }) %>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Funding Plan / Source</label>
			<div class="controls">
				<%= f.select(:funding_plan_id, options_for_select([]), {:prompt => ""}, {:id => "funding_plan_selector_#{f.object.id}", :class => "chained-child funding-area-changeable set-initial-value", "data-chained" => "true", "data-chained-children" => "false", "data-chained-to" => "#funding_supplier_selector_#{f.object.id}, #funding_type_selector_#{f.object.id}", "data-chained-url" => "/funding_plans.json", "data-placeholder" => "Select Funding Plan", "data-initial-value" => (f.object.funding_plan.id if f.object.funding_plan) }) %>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Amount</label>
			<div class="controls">
				<%= f.text_field :amount, :class => 'input-large funding-plan-amount funding-area-changeable price-subtractor' %>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Term</label>
			<div class="controls">
				<%= f.text_field :term, :class => 'input-large funding-area-changeable', "data-funding-field-type" => "Term" %>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Customer Rate</label>
			<div class="controls">
				<%= f.text_field :customer_rate, :class => 'input-large funding-area-changeable', "data-funding-field-type" => "Customer Rate" %>
			</div>
		</div>
		<% if form_actions_visible == true %>
			<div class="form-actions">
				<%= render :partial => "shared/form_actions" %>
			</div>
		<% end %>
	</fieldset>
</div>