<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", funding_plan_sales_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_funding_plan_sale_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_funding_plan_sale_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.edit", :default => "Edit") %> FundingPlanSale</h2>
    <div class="inner">
      <%= form_for @funding_plan_sale, :url => funding_plan_sale_path(@funding_plan_sale), :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
