<% title "Funding Plan Sale" %>

<p>
  <strong>Funding Plan:</strong>
  <%= @funding_plan_sale.funding_plan_id %>
</p>
<p>
  <strong>Sale:</strong>
  <%= @funding_plan_sale.sale_id %>
</p>
<p>
  <strong>Amount:</strong>
  <%= @funding_plan_sale.amount %>
</p>
<p>
  <strong>Fees Spread:</strong>
  <%= @funding_plan_sale.fees_spread %>
</p>
<p>
  <strong>Customer Rate:</strong>
  <%= @funding_plan_sale.customer_rate %>
</p>

<p>
  <%= link_to "Edit", edit_funding_plan_sale_path(@funding_plan_sale) %> |
  <%= link_to "Destroy", @funding_plan_sale, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", funding_plan_sales_path %>
</p>
