<% title "Fee Funding Plans" %>

<table>
  <tr>
    <th>Fee</th>
    <th>Funding Plan</th>
  </tr>
  <% for fee_funding_plan in @fee_funding_plans %>
    <tr>
      <td><%= fee_funding_plan.fee_id %></td>
      <td><%= fee_funding_plan.funding_plan_id %></td>
      <td><%= link_to "Show", fee_funding_plan %></td>
      <td><%= link_to "Edit", edit_fee_funding_plan_path(fee_funding_plan) %></td>
      <td><%= link_to "Destroy", fee_funding_plan, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Fee Funding Plan", new_fee_funding_plan_path %></p>
