<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", contact_number_users_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_contact_number_user_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> ContactNumberUsers</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">ID</th>
                    <th>
            <%= t("activerecord.attributes.contact_number_user.contact_number_id", :default => t("activerecord.labels.contact_number_id", :default => "Contact_number_id")) %>
          </th>
                    <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @contact_number_users.each do |contact_number_user| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= contact_number_user.id %>
          </td>
                    <td>
            <%= link_to contact_number_user.contact_number_id, contact_number_user_path(contact_number_user) %>
          </td>
                    <td>
            <%= contact_number_user.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", contact_number_user_path(contact_number_user) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_contact_number_user_path(contact_number_user) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", contact_number_user_path(contact_number_user), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
