<%= form_for @purchase do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :dealer_id %><br />
    <%= f.number_field :dealer_id %>
  </p>
  <p>
    <%= f.label :purchase_type_id %><br />
    <%= f.number_field :purchase_type_id %>
  </p>
  <p>
    <%= f.label :tax_rate_id %><br />
    <%= f.number_field :tax_rate_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
