<% title "Metric Operands" %>

<table>
  <tr>
    <th>Metric</th>
    <th>Operand</th>
    <th>Side</th>
  </tr>
  <% for metric_operand in @metric_operands %>
    <tr>
      <td><%= metric_operand.metric_id %></td>
      <td><%= metric_operand.operand_id %></td>
      <td><%= metric_operand.side %></td>
      <td><%= link_to "Show", metric_operand %></td>
      <td><%= link_to "Edit", edit_metric_operand_path(metric_operand) %></td>
      <td><%= link_to "Destroy", metric_operand, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Metric Operand", new_metric_operand_path %></p>
