<% title "Metric Operand" %>

<p>
  <strong>Metric:</strong>
  <%= @metric_operand.metric_id %>
</p>
<p>
  <strong>Operand:</strong>
  <%= @metric_operand.operand_id %>
</p>
<p>
  <strong>Side:</strong>
  <%= @metric_operand.side %>
</p>

<p>
  <%= link_to "Edit", edit_metric_operand_path(@metric_operand) %> |
  <%= link_to "Destroy", @metric_operand, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", metric_operands_path %>
</p>
