<%= form_for @target_user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </p>
  <p>
    <%= f.label :target_id %><br />
    <%= f.number_field :target_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
