<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", customer_contact_numbers_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_customer_contact_number_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", customer_contact_number_path %></li>
    </ul>
  </div>
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.customer_contact_number.contact_number_id", :default => t("activerecord.labels.contact_number_id", :default => "Contact number")) %>:</b>
          <%= @customer_contact_number.contact_number_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.customer_contact_number.customer_id", :default => t("activerecord.labels.customer_id", :default => "Customer")) %>:</b>
          <%= @customer_contact_number.customer_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.customer_contact_number.primary", :default => t("activerecord.labels.primary", :default => "Primary")) %>:</b>
          <%= @customer_contact_number.primary %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_customer_contact_number_path(@customer_contact_number), :class => "button" %>
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), customer_contact_number_path(@customer_contact_number), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
