<% title "Address Suppliers" %>

<table>
  <tr>
    <th>Address</th>
    <th>Supplier</th>
  </tr>
  <% for address_supplier in @address_suppliers %>
    <tr>
      <td><%= address_supplier.address_id %></td>
      <td><%= address_supplier.supplier_id %></td>
      <td><%= link_to "Show", address_supplier %></td>
      <td><%= link_to "Edit", edit_address_supplier_path(address_supplier) %></td>
      <td><%= link_to "Destroy", address_supplier, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Address Supplier", new_address_supplier_path %></p>
