<%= form_for @address_state do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :address_id %><br />
    <%= f.number_field :address_id %>
  </p>
  <p>
    <%= f.label :state_id %><br />
    <%= f.number_field :state_id %>
  </p>
  <p>
    <%= f.label :order %><br />
    <%= f.number_field :order %>
  </p>
  <p><%= f.submit %></p>
<% end %>
