<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", address_states_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_address_state_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", address_state_path %></li>
    </ul>
  </div>
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.address_state.address_id", :default => t("activerecord.labels.address_id", :default => "Address")) %>:</b>
          <%= @address_state.address_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.address_state.state_id", :default => t("activerecord.labels.state_id", :default => "State")) %>:</b>
          <%= @address_state.state_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.address_state.order", :default => t("activerecord.labels.order", :default => "Order")) %>:</b>
          <%= @address_state.order %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_address_state_path(@address_state), :class => "button" %>
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), address_state_path(@address_state), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
