<fieldset>
	<div class="control-group">
		<label class="control-label">Customer Type</label>
		<div class="controls">
			<%= select("customer", "customer_type_id", CustomerType.all.collect {|p| [ p.value, p.id ] }, {}, {:class => "chzn-select"}) %>
		</div>
	</div>
	<%= f.fields_for :customer do |feature_builder| %>
		<%= render :partial => "features/fixed_feature", :locals => {:f => feature_builder, :fixed_feature_type => "First Name"} %>
	<% end -%>
	<%= f.fields_for :customer do |feature_builder| %>
		<%= render :partial => "features/fixed_feature", :locals => {:f => feature_builder, :fixed_feature_type => "Last Name"} %>
	<% end -%>
	<%= f.fields_for :customer do |feature_builder| %>
		<%= render :partial => "features/fixed_feature", :locals => {:f => feature_builder, :fixed_feature_type => "Date of Birth"} %>
	<% end -%>
	<div class="control-group">
		<label class="control-label">Checkbox</label>
		<div class="controls">
			<label class="checkbox">
			<input type="checkbox" value="option1">
			Option one</label>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Disabled checkbox</label>
		<div class="controls">
			<label class="checkbox">
			<input type="checkbox" disabled="" value="option1">
			This is a disabled checkbox </label>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Inline checkboxes</label>
		<div class="controls">
			<label class="checkbox inline">
			<input type="checkbox" value="option1">
			1 </label>
			<label class="checkbox inline">
			<input type="checkbox" value="option2">
			2 </label>
			<label class="checkbox inline">
			<input type="checkbox" value="option3">
			3 </label>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Checkboxes</label>
		<div class="controls">
			<label class="checkbox">
			<input type="checkbox" value="option1" name="optionsCheckboxList1">
			Option one</label>
			<label class="checkbox">
			<input type="checkbox" value="option2" name="optionsCheckboxList2">
			Option two</label>
			<label class="checkbox">
			<input type="checkbox" value="option3" name="optionsCheckboxList3">
			Option three</label>
			<p class="help-block">
				<strong>Note:</strong> Labels surround all the options for much larger click areas and a more usable form.
			</p>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Radio buttons</label>
		<div class="controls">
			<label class="radio">
			<input type="radio" checked="" value="option1" name="optionsRadios">
			Option one</label>
			<label class="radio">
			<input type="radio" value="option2" name="optionsRadios">
			Option two</label>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">File input</label>
		<div class="controls">
			<input class="input-file" type="file">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Textarea</label>
		<div class="controls">
			<textarea class="input-xlarge" rows="3"></textarea>
		</div>
	</div>
	<div class="form-actions">
		<%= content_tag :button, :type => :submit, :class => "btn btn-info" do -%>
			Save Changes
		<% end -%>
		<button class="btn btn-warning">Cancel</button>
	</div>
</fieldset>

<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>
  <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
	<%= link_to t("web-app-theme.cancel", :default => "Cancel"), customers_path, :class => "text_button_padding link_button" %>
</div>
