<% title "Appraisal Point Types" %>

<table>
  <tr>
    <th>Value</th>
  </tr>
  <% for appraisal_point_type in @appraisal_point_types %>
    <tr>
      <td><%= appraisal_point_type.value %></td>
      <td><%= link_to "Show", appraisal_point_type %></td>
      <td><%= link_to "Edit", edit_appraisal_point_type_path(appraisal_point_type) %></td>
      <td><%= link_to "Destroy", appraisal_point_type, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Appraisal Point Type", new_appraisal_point_type_path %></p>
