<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", sale_vehicles_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_sale_vehicle_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", sale_vehicle_path %></li>
    </ul>
  </div>
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.sale_vehicle.sale_id", :default => t("activerecord.labels.sale_id", :default => "Sale")) %>:</b>
          <%= @sale_vehicle.sale_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.sale_vehicle.vehicle_id", :default => t("activerecord.labels.vehicle_id", :default => "Vehicle")) %>:</b>
          <%= @sale_vehicle.vehicle_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.sale_vehicle.tax_rate_id", :default => t("activerecord.labels.tax_rate_id", :default => "Tax rate")) %>:</b>
          <%= @sale_vehicle.tax_rate_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.sale_vehicle.price", :default => t("activerecord.labels.price", :default => "Price")) %>:</b>
          <%= @sale_vehicle.price %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_sale_vehicle_path(@sale_vehicle), :class => "button" %>
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), sale_vehicle_path(@sale_vehicle), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
