<%= form_for @reporting_category do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :parent_reporting_category_id %><br />
    <%= f.number_field :parent_reporting_category_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
