
  <div class="group">
    <%= f.label :dealer_id, t("activerecord.attributes.dealer_volume_bonus_plan.dealer_id", :default => "Dealer"), :class => :label %>
    <%= f.number_field :dealer_id, :class => 'number_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :volume_bonus_plan_id, t("activerecord.attributes.dealer_volume_bonus_plan.volume_bonus_plan_id", :default => "Volume bonus plan"), :class => :label %>
    <%= f.number_field :volume_bonus_plan_id, :class => 'number_field' %>
    <span class="description">Ex: a simple text</span>
  </div>
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>
  <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
	<%= link_to t("web-app-theme.cancel", :default => "Cancel"), dealer_volume_bonus_plans_path, :class => "text_button_padding link_button" %>
</div>
