<% title "Financial Transaction Methods" %>

<table>
  <tr>
    <th>Value</th>
  </tr>
  <% for financial_transaction_method in @financial_transaction_methods %>
    <tr>
      <td><%= financial_transaction_method.value %></td>
      <td><%= link_to "Show", financial_transaction_method %></td>
      <td><%= link_to "Edit", edit_financial_transaction_method_path(financial_transaction_method) %></td>
      <td><%= link_to "Destroy", financial_transaction_method, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Financial Transaction Method", new_financial_transaction_method_path %></p>
