<% title "Appraisal Appraisal Points" %>

<table>
  <tr>
    <th>Appraisal</th>
    <th>Appraisal Point</th>
  </tr>
  <% for appraisal_appraisal_point in @appraisal_appraisal_points %>
    <tr>
      <td><%= appraisal_appraisal_point.appraisal_id %></td>
      <td><%= appraisal_appraisal_point.appraisal_point_id %></td>
      <td><%= link_to "Show", appraisal_appraisal_point %></td>
      <td><%= link_to "Edit", edit_appraisal_appraisal_point_path(appraisal_appraisal_point) %></td>
      <td><%= link_to "Destroy", appraisal_appraisal_point, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Appraisal Appraisal Point", new_appraisal_appraisal_point_path %></p>
