<% title "Permission" %>

<p>
  <strong>Dealer User:</strong>
  <%= @permission.dealer_user_id %>
</p>
<p>
  <strong>Action:</strong>
  <%= @permission.action %>
</p>
<p>
  <strong>Target:</strong>
  <%= @permission.target %>
</p>

<p>
  <%= link_to "Edit", edit_permission_path(@permission) %> |
  <%= link_to "Destroy", @permission, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", permissions_path %>
</p>
