<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", preferences_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_preference_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", preference_path %></li>
    </ul>
  </div>
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.preference.value", :default => t("activerecord.labels.value", :default => "Value")) %>:</b>
          <%= @preference.value %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.preference.preference_type_id", :default => t("activerecord.labels.preference_type_id", :default => "Preference type")) %>:</b>
          <%= @preference.preference_type_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.preference.dealer_id", :default => t("activerecord.labels.dealer_id", :default => "Dealer")) %>:</b>
          <%= @preference.dealer_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.preference.user_id", :default => t("activerecord.labels.user_id", :default => "User")) %>:</b>
          <%= @preference.user_id %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_preference_path(@preference), :class => "button" %>
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), preference_path(@preference), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>
    </div>
  </div>
</div>


