<% title "Appraisal Users" %>

<table>
  <tr>
    <th>Appraisal</th>
    <th>User</th>
    <th>Role</th>
  </tr>
  <% for appraisal_user in @appraisal_users %>
    <tr>
      <td><%= appraisal_user.appraisal_id %></td>
      <td><%= appraisal_user.user_id %></td>
      <td><%= appraisal_user.role_id %></td>
      <td><%= link_to "Show", appraisal_user %></td>
      <td><%= link_to "Edit", edit_appraisal_user_path(appraisal_user) %></td>
      <td><%= link_to "Destroy", appraisal_user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Appraisal User", new_appraisal_user_path %></p>
