<% title "Appraisal User" %>

<p>
  <strong>Appraisal:</strong>
  <%= @appraisal_user.appraisal_id %>
</p>
<p>
  <strong>User:</strong>
  <%= @appraisal_user.user_id %>
</p>
<p>
  <strong>Role:</strong>
  <%= @appraisal_user.role_id %>
</p>

<p>
  <%= link_to "Edit", edit_appraisal_user_path(@appraisal_user) %> |
  <%= link_to "Destroy", @appraisal_user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", appraisal_users_path %>
</p>
