<%= form_for @seasonality do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :seasonality_type_id %><br />
    <%= f.number_field :seasonality_type_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
