<%= form_for @model_year_trim do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :model_year_id %><br />
    <%= f.number_field :model_year_id %>
  </p>
  <p>
    <%= f.label :trim_id %><br />
    <%= f.number_field :trim_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
