<% title "Model Year Trims" %>

<table>
  <tr>
    <th>Model Year</th>
    <th>Trim</th>
  </tr>
  <% for model_year_trim in @model_year_trims %>
    <tr>
      <td><%= model_year_trim.model_year_id %></td>
      <td><%= model_year_trim.trim_id %></td>
      <td><%= link_to "Show", model_year_trim %></td>
      <td><%= link_to "Edit", edit_model_year_trim_path(model_year_trim) %></td>
      <td><%= link_to "Destroy", model_year_trim, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Model Year Trim", new_model_year_trim_path %></p>
