<% title "Seasonality Targets" %>

<table>
  <tr>
    <th>Seasonality</th>
    <th>Target</th>
  </tr>
  <% for seasonality_target in @seasonality_targets %>
    <tr>
      <td><%= seasonality_target.seasonality_id %></td>
      <td><%= seasonality_target.target_id %></td>
      <td><%= link_to "Show", seasonality_target %></td>
      <td><%= link_to "Edit", edit_seasonality_target_path(seasonality_target) %></td>
      <td><%= link_to "Destroy", seasonality_target, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Seasonality Target", new_seasonality_target_path %></p>
