<%= form_for @metric_user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :metric_id %><br />
    <%= f.number_field :metric_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
