<% title "Metric User" %>

<p>
  <strong>Metric:</strong>
  <%= @metric_user.metric_id %>
</p>
<p>
  <strong>User:</strong>
  <%= @metric_user.user_id %>
</p>

<p>
  <%= link_to "Edit", edit_metric_user_path(@metric_user) %> |
  <%= link_to "Destroy", @metric_user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", metric_users_path %>
</p>
