<% title "Role User" %>

<p>
  <strong>Role:</strong>
  <%= @role_user.role_id %>
</p>
<p>
  <strong>User:</strong>
  <%= @role_user.user_id %>
</p>
<p>
  <strong>Primary:</strong>
  <%= @role_user.primary %>
</p>

<p>
  <%= link_to "Edit", edit_role_user_path(@role_user) %> |
  <%= link_to "Destroy", @role_user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", role_users_path %>
</p>
