<%= form_for @tax_rate do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :tax_rate_type_id %><br />
    <%= f.number_field :tax_rate_type_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p><%= f.submit %></p>
<% end %>
