<% title "Tax Rate" %>

<p>
  <strong>Tax Rate Type:</strong>
  <%= @tax_rate.tax_rate_type_id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @tax_rate.name %>
</p>
<p>
  <strong>Value:</strong>
  <%= @tax_rate.value %>
</p>

<p>
  <%= link_to "Edit", edit_tax_rate_path(@tax_rate) %> |
  <%= link_to "Destroy", @tax_rate, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", tax_rates_path %>
</p>
