<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", purchase_types_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_purchase_type_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_purchase_type_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.edit", :default => "Edit") %> PurchaseType</h2>
    <div class="inner">
      <%= form_for @purchase_type, :url => purchase_type_path(@purchase_type), :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>


