<%= form_for @feature_vehicle do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :vehicle_id %><br />
    <%= f.number_field :vehicle_id %>
  </p>
  <p>
    <%= f.label :feature_id %><br />
    <%= f.number_field :feature_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
