
  <div class="group">
    <%= f.label :vehicle_id, t("activerecord.attributes.feature_vehicle.vehicle_id", :default => "Vehicle"), :class => :label %>
    <%= f.number_field :vehicle_id, :class => 'number_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :feature_id, t("activerecord.attributes.feature_vehicle.feature_id", :default => "Feature"), :class => :label %>
    <%= f.number_field :feature_id, :class => 'number_field' %>
    <span class="description">Ex: a simple text</span>
  </div>
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>
  <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
	<%= link_to t("web-app-theme.cancel", :default => "Cancel"), feature_vehicles_path, :class => "text_button_padding link_button" %>
</div>
