<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", feature_vehicles_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_feature_vehicle_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", feature_vehicle_path %></li>
    </ul>
  </div>
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.feature_vehicle.vehicle_id", :default => t("activerecord.labels.vehicle_id", :default => "Vehicle")) %>:</b>
          <%= @feature_vehicle.vehicle_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.feature_vehicle.feature_id", :default => t("activerecord.labels.feature_id", :default => "Feature")) %>:</b>
          <%= @feature_vehicle.feature_id %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_feature_vehicle_path(@feature_vehicle), :class => "button" %>
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), feature_vehicle_path(@feature_vehicle), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>
    </div>
  </div>
</div>


