<%= form_for @dealer do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :address_id %><br />
    <%= f.number_field :address_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
