<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", feature_suppliers_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_feature_supplier_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> FeatureSuppliers</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">ID</th>
                    <th>
            <%= t("activerecord.attributes.feature_supplier.supplier_id", :default => t("activerecord.labels.supplier_id", :default => "Supplier_id")) %>
          </th>
                    <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @feature_suppliers.each do |feature_supplier| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= feature_supplier.id %>
          </td>
                    <td>
            <%= link_to feature_supplier.supplier_id, feature_supplier_path(feature_supplier) %>
          </td>
                    <td>
            <%= feature_supplier.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", feature_supplier_path(feature_supplier) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_feature_supplier_path(feature_supplier) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", feature_supplier_path(feature_supplier), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>


