<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", referral_sale_users_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_referral_sale_user_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", referral_sale_user_path %></li>
    </ul>
  </div>
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.referral_sale_user.sale_user_id", :default => t("activerecord.labels.sale_user_id", :default => "Sale user")) %>:</b>
          <%= @referral_sale_user.sale_user_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.referral_sale_user.referral_id", :default => t("activerecord.labels.referral_id", :default => "Referral")) %>:</b>
          <%= @referral_sale_user.referral_id %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_referral_sale_user_path(@referral_sale_user), :class => "button" %>
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), referral_sale_user_path(@referral_sale_user), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
