<%= render :partial => 'shared/tablecontrols' -%>
<div id="newpath" data-newpath=<%= new_address_path -%>></div>
<div class="container">
	<div class="row">
			<div class = "span12">
				<div class="nonboxy-widget">
	    			<div class="widget-head">
						<h5>Addresses</h5>
					</div>
      				<table class="data-tbl-simple table table-bordered">
        			<thead>
						<tr>
	          				<th class="hide">
								Edit Link
							</th>
							<th class="hide">
								Delete Link
							</th>
							<th>
								ID
							</th>
														<th>
							City							</th>
														<th>
							Country							</th>
								        			</tr>
					</thead>
					<tbody>
						<% @addresses.each do |address| -%>
						<tr class="<%= cycle("odd", "even") %>">
							<td>
								<%= edit_address_path(address) -%>
							</td>
							<td>
								<%= address_path(address) -%>
							</td>
	          				<td>
					            <%= address.id %>
					        </td>
													        <td>
				            	<%= address.city %>
				          	</td>
					        						        <td>
				            	<%= address.country %>
				          	</td>
					        		        			</tr>
	        			<% end %>
					</tbody>
      			</table>
	    	</div>
		</div>
	</div>
</div>