<%= form_for @book_value do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :trim_id %><br />
    <%= f.number_field :trim_id %>
  </p>
  <p>
    <%= f.label :supplier_id %><br />
    <%= f.number_field :supplier_id %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :mileage %><br />
    <%= f.number_field :mileage %>
  </p>
  <p>
    <%= f.label :registration_date_start %><br />
    <%= f.date_select :registration_date_start %>
  </p>
  <p>
    <%= f.label :registration_date_end %><br />
    <%= f.date_select :registration_date_end %>
  </p>
  <p><%= f.submit %></p>
<% end %>
