<% title "Event Comments" %>

<table>
  <tr>
    <th>User</th>
    <th>Event</th>
    <th>Value</th>
  </tr>
  <% for event_comment in @event_comments %>
    <tr>
      <td><%= event_comment.user_id %></td>
      <td><%= event_comment.event_id %></td>
      <td><%= event_comment.value %></td>
      <td><%= link_to "Show", event_comment %></td>
      <td><%= link_to "Edit", edit_event_comment_path(event_comment) %></td>
      <td><%= link_to "Destroy", event_comment, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Event Comment", new_event_comment_path %></p>
