<%= form_for @funding_plan_quote do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :funding_plan_id %><br />
    <%= f.number_field :funding_plan_id %>
  </p>
  <p>
    <%= f.label :quote_id %><br />
    <%= f.number_field :quote_id %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :fees_spread %><br />
    <%= f.check_box :fees_spread %>
  </p>
  <p>
    <%= f.label :customer_rate %><br />
    <%= f.text_field :customer_rate %>
  </p>
  <p><%= f.submit %></p>
<% end %>
