
  <div class="group">
    <%= f.label :dealer_id, t("activerecord.attributes.financial_transaction.dealer_id", :default => "Dealer"), :class => :label %>
    <%= f.number_field :dealer_id, :class => 'number_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :financial_transaction_type_id, t("activerecord.attributes.financial_transaction.financial_transaction_type_id", :default => "Financial transaction type"), :class => :label %>
    <%= f.number_field :financial_transaction_type_id, :class => 'number_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :financial_transaction_method_id, t("activerecord.attributes.financial_transaction.financial_transaction_method_id", :default => "Financial transaction method"), :class => :label %>
    <%= f.number_field :financial_transaction_method_id, :class => 'number_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :currency_id, t("activerecord.attributes.financial_transaction.currency_id", :default => "Currency"), :class => :label %>
    <%= f.number_field :currency_id, :class => 'number_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :value, t("activerecord.attributes.financial_transaction.value", :default => "Value"), :class => :label %>
    <%= f.text_field :value, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :time, t("activerecord.attributes.financial_transaction.time", :default => "Time"), :class => :label %>
    <%= f.time_select :time, :class => 'time_select' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :debit, t("activerecord.attributes.financial_transaction.debit", :default => "Debit"), :class => :label %>
    <%= f.check_box :debit, :class => 'check_box' %>
    <span class="description">Ex: a simple text</span>
  </div>
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>
  <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
	<%= link_to t("web-app-theme.cancel", :default => "Cancel"), financial_transactions_path, :class => "text_button_padding link_button" %>
</div>
