<% title "Financial Transactions" %>

<table>
  <tr>
    <th>Dealer</th>
    <th>Financial Transaction Type</th>
    <th>Financial Transaction Method</th>
    <th>Value</th>
    <th>Time</th>
    <th>Debit</th>
  </tr>
  <% for financial_transaction in @financial_transactions %>
    <tr>
      <td><%= financial_transaction.dealer_id %></td>
      <td><%= financial_transaction.financial_transaction_type_id %></td>
      <td><%= financial_transaction.financial_transaction_method_id %></td>
      <td><%= financial_transaction.value %></td>
      <td><%= financial_transaction.time %></td>
      <td><%= financial_transaction.debit %></td>
      <td><%= link_to "Show", financial_transaction %></td>
      <td><%= link_to "Edit", edit_financial_transaction_path(financial_transaction) %></td>
      <td><%= link_to "Destroy", financial_transaction, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Financial Transaction", new_financial_transaction_path %></p>
