<%= form_for @fee do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :fee_type_id %><br />
    <%= f.number_field :fee_type_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p><%= f.submit %></p>
<% end %>
