<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", financial_transaction_sales_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_financial_transaction_sale_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> FinancialTransactionSales</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">ID</th>
                    <th>
            <%= t("activerecord.attributes.financial_transaction_sale.financial_transaction_id", :default => t("activerecord.labels.financial_transaction_id", :default => "Financial_transaction_id")) %>
          </th>
                    <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @financial_transaction_sales.each do |financial_transaction_sale| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= financial_transaction_sale.id %>
          </td>
                    <td>
            <%= link_to financial_transaction_sale.financial_transaction_id, financial_transaction_sale_path(financial_transaction_sale) %>
          </td>
                    <td>
            <%= financial_transaction_sale.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", financial_transaction_sale_path(financial_transaction_sale) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_financial_transaction_sale_path(financial_transaction_sale) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", financial_transaction_sale_path(financial_transaction_sale), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
