<%= add_fixed_fields('features', ["VIN Number", "Date of Registration"], f, false, false) %>
<% if f.object.registration_marks.blank? %>
	<% f.object.registration_marks.build %>
<% end %>
<%= f.fields_for :registration_marks do |registration_marks_builder| %>
	<%= render :partial => "registration_marks/form", :locals => {:f => registration_marks_builder, :form_actions_visible => false} %>
<% end -%>
<div class="control-group">
	<label class="control-label">Selling Price</label>
	<div class="controls">
		<%= f_parent.text_field :price, :class => 'input-large price-contributor' %>
	</div>
</div>
<div class="add-field-links">
	<%= link_to_add_association '<i></i> Add Additional Registration Mark'.html_safe, f, :registration_marks, :partial => 'registration_marks/form', :render_options => {:locals => {:form_actions_visible => 'false'}}, :class => 'btn' %>
</div>
<% if form_actions_visible == true %>
	<div class="row">
		<div class="span6">
			<%= render :partial => "shared/form_actions" %>
		</div>
	</div>
<% end %>