<%= f.fields_for :registration_marks do |registration_mark_builder| %>
	<%= render :partial => "registration_marks/form", :locals => {:f => registration_mark_builder, :form_actions_visible => false} %>
<% end -%>
<%= add_fixed_fields('features', ["VIN Number", "Date of Registration"], f, false) %>
<% if form_actions_visible == true %>
	<div class="row">
		<div class="span6">
			<%= render :partial => "shared/form_actions" %>
		</div>
	</div>
<% end %>
<% if form_actions_visible == true %>
	<div class="row">
		<div class="span6">
			<%= render :partial => "shared/form_actions" %>
		</div>
	</div>
<% end %>