<fieldset>
	<div class="control-group">
		<label class="control-label">Make</label>
		<div class="controls">
			<%= select("", "", options_for_select(@makes_for_dropdown), {:prompt => 'Select Make'}, {:id => "vehicle_make_selector"}) %>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Model</label>
		<div class="controls">
			<%= select("", "", options_for_select(@models_for_dropdown), {:prompt => 'Select Model'}, {:id => "vehicle_model_selector", :class => "chained_to_vehicle_make_selector"}) %>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Trim</label>
		<div class="controls">
			<%= vehicle.select(:trim_id, options_for_select(@trims_for_dropdown), {:prompt => 'Select Trim'}, {:class => "chained_to_vehicle_model_selector chained-child"}) %>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Model Year</label>
		<div class="controls">
			<%= vehicle.collection_select(:model_year_id, ModelYear.all, :id, :value, {}, {:class => "chzn-select"}) %>
		</div>
	</div>
	<%= vehicle.fields_for :registration_marks do |registration_mark_builder| %>
		<%= render :partial => "registration_marks/form", :locals => {:vehicle => registration_mark_builder, :form_actions_visible => false} %>
	<% end -%>
	<% if form_actions_visible == true %>
		<div class="form-actions">
			<%= content_tag :button, :type => :submit, :class => "btn btn-info" do -%>
				Save Changes
			<% end -%>
			<%= content_tag :button, :type => :cancel, :class => "btn btn-warning" do -%>
				Cancel
			<% end -%>
		</div>
	<% end %>
</fieldset>
