<fieldset>
	<div class="control-group">
		<label class="control-label">Make</label>
		<div class="controls">
			<%= select("", "make_id", Make.all.collect {|p| [ p.value, p.id ] }, {}, {:class => "chzn-select"}) %>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Model</label>
		<div class="controls">
			<%= select("", "model_id", Model.all.collect {|p| [ p.value, p.id ] }, {}, {:class => "chzn-select"}) %>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Trim</label>
		<div class="controls">
			<%= select("vehicle", "trim_id", Trim.all.collect {|p| [ p.value, p.id ] }, {}, {:class => "chzn-select"}) %>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Model Year</label>
		<div class="controls">
			<%= select("vehicle", "model_year_id", ModelYear.all.collect {|p| [ p.value, p.id ] }, {}, {:class => "chzn-select"}) %>
		</div>
	</div>
	<% if form_actions_visible == true %>
		<div class="form-actions">
			<%= content_tag :button, :type => :submit, :class => "btn btn-info" do -%>
				Save Changes
			<% end -%>
			<%= content_tag :button, :type => :cancel, :class => "btn btn-warning" do -%>
				Cancel
			<% end -%>
		</div>
	<% end %>
</fieldset>
