<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", vehicles_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_vehicle_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Vehicles</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">ID</th>
          <th>
            <%= t("activerecord.attributes.vehicle.make_id", :default => t("activerecord.labels.make_id", :default => "Make_id")) %>
          </th>
          <th><%= t("activerecord.attributes.vehicle.model_year_id", :default => t("activerecord.labels.model_year_id", :default => "Model_year_id")) %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @vehicles.each do |vehicle| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= vehicle.id %>
          </td>
                    <td>
            <%= vehicle.trim.value %>
          </td>
                    <td>
            <%= vehicle.model_year.value %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", vehicle_path(vehicle) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_vehicle_path(vehicle) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", vehicle_path(vehicle), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
