<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", vehicles_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_vehicle_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", vehicle_path %></li>
    </ul>
  </div>
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.vehicle.make_id", :default => t("activerecord.labels.make_id", :default => "Make")) %>:</b>
          <%= @vehicle.make_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.vehicle.model_id", :default => t("activerecord.labels.model_id", :default => "Model")) %>:</b>
          <%= @vehicle.model_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.vehicle.trim_id", :default => t("activerecord.labels.trim_id", :default => "Trim")) %>:</b>
          <%= @vehicle.trim_id %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_vehicle_path(@vehicle), :class => "button" %>
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), vehicle_path(@vehicle), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>
    </div>
  </div>
</div>
