<%= form_for @quote_vehicle do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :quote_id %><br />
    <%= f.number_field :quote_id %>
  </p>
  <p>
    <%= f.label :vehicle_id %><br />
    <%= f.number_field :vehicle_id %>
  </p>
  <p>
    <%= f.label :tax_rate_id %><br />
    <%= f.number_field :tax_rate_id %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p><%= f.submit %></p>
<% end %>
