
  <div class="group">
    <%= f.label :quote_id, t("activerecord.attributes.quote_vehicle.quote_id", :default => "Quote"), :class => :label %>
    <%= f.number_field :quote_id, :class => 'number_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :vehicle_id, t("activerecord.attributes.quote_vehicle.vehicle_id", :default => "Vehicle"), :class => :label %>
    <%= f.number_field :vehicle_id, :class => 'number_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :tax_rate_id, t("activerecord.attributes.quote_vehicle.tax_rate_id", :default => "Tax rate"), :class => :label %>
    <%= f.number_field :tax_rate_id, :class => 'number_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :price, t("activerecord.attributes.quote_vehicle.price", :default => "Price"), :class => :label %>
    <%= f.text_field :price, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>
  <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
	<%= link_to t("web-app-theme.cancel", :default => "Cancel"), quote_vehicles_path, :class => "text_button_padding link_button" %>
</div>
