<%= form_for @appraisal_point_type_dealer do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :appraisal_point_type_id %><br />
    <%= f.number_field :appraisal_point_type_id %>
  </p>
  <p>
    <%= f.label :dealer_id %><br />
    <%= f.number_field :dealer_id %>
  </p>
  <p>
    <%= f.label :required %><br />
    <%= f.check_box :required %>
  </p>
  <p><%= f.submit %></p>
<% end %>
