<% title "Supplier Targets" %>

<table>
  <tr>
    <th>Supplier</th>
    <th>Target</th>
  </tr>
  <% for supplier_target in @supplier_targets %>
    <tr>
      <td><%= supplier_target.supplier_id %></td>
      <td><%= supplier_target.target_id %></td>
      <td><%= link_to "Show", supplier_target %></td>
      <td><%= link_to "Edit", edit_supplier_target_path(supplier_target) %></td>
      <td><%= link_to "Destroy", supplier_target, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Supplier Target", new_supplier_target_path %></p>
