<%= form_for @purchase_vehicle do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :purchase_id %><br />
    <%= f.number_field :purchase_id %>
  </p>
  <p>
    <%= f.label :vehicle_id %><br />
    <%= f.number_field :vehicle_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
