<% title "Purchase Vehicles" %>

<table>
  <tr>
    <th>Purchase</th>
    <th>Vehicle</th>
  </tr>
  <% for purchase_vehicle in @purchase_vehicles %>
    <tr>
      <td><%= purchase_vehicle.purchase_id %></td>
      <td><%= purchase_vehicle.vehicle_id %></td>
      <td><%= link_to "Show", purchase_vehicle %></td>
      <td><%= link_to "Edit", edit_purchase_vehicle_path(purchase_vehicle) %></td>
      <td><%= link_to "Destroy", purchase_vehicle, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Purchase Vehicle", new_purchase_vehicle_path %></p>
