<%= feature.hidden_field :feature_type_id, :value => FeatureType.where(:value => fixed_feature_type).first.id %>
<fieldset>
	<div class="control-group">
		<label class="control-label"><Value><%= fixed_feature_type %></label>
		<div class="controls">
			<%= feature.text_field :value, :class => 'input-large' %>
		</div>
	</div>
	<% if form_actions_visible == true %>
		<div class="form-actions">
			<%= content_tag :button, :type => :submit, :class => "btn btn-info" do -%>
				Save Changes
			<% end -%>
			<%= content_tag :button, :type => :cancel, :class => "btn btn-warning" do -%>
				Cancel
			<% end -%>
		</div>
	<% end %>
</fieldset>
