<% title "Feature" %>

<p>
  <strong>Value:</strong>
  <%= @feature.value %>
</p>
<p>
  <strong>Feature Type:</strong>
  <%= @feature.feature_type_id %>
</p>

<p>
  <%= link_to "Edit", edit_feature_path(@feature) %> |
  <%= link_to "Destroy", @feature, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", features_path %>
</p>
