<%= form_for @sale do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :dealer_id %><br />
    <%= f.number_field :dealer_id %>
  </p>
  <p>
    <%= f.label :customer_id %><br />
    <%= f.number_field :customer_id %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :sale_type_id %><br />
    <%= f.number_field :sale_type_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
