<div class="row">
	<div class="span6">
		<div class="nonboxy-widget">
			<div class="widget-head">
				<h5>Details</h5>
			</div>
			<div class="widget-content">
				<div class="widget-box">
					<div class = 'form-horizontal'>
						<fieldset>
							<legend>Sale Details</legend>
							<div class="control-group">
								<label class="control-label">Sale Type</label>
								<div class="controls">
									<%= sale.collection_select(:sale_type_id, SaleType.all, :id, :value, {}, {:class => "chzn-select"}) %>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Date of Sale</label>
								<div class="controls">
									<%= sale.text_field :date, :class => 'date' %>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
			<div class="widget-head">
				<h5>Customer</h5>
			</div>
			<div class="widget-content">
				<div class="widget-box cocoon">
					<div class = 'form-horizontal'>
						<%= sale.fields_for :customer do |customer_builder| %>
				  			<fieldset>
								<legend>Customer Details</legend>
								<%= render :partial => "customers/form", :locals => {:f => customer_builder, :form_actions_visible => false} %>
							</fieldset>
							<fieldset>
								<legend>Customer Emails</legend>
								<%= render :partial => "emails/form", :locals => {:f => customer_builder, :form_actions_visible => false, :legend_type => 'Customer', :show_add_new_button => true} %>
								<div class="add-field-links">
								<%= link_to_add_association '<i></i> Add Email'.html_safe, customer_builder, :emails, :partial => 'emails/form', :render_options => {:locals => {:form_actions_visible => 'false', :legend_type => 'Customer'}}, :class => 'btn' %>
								</div>
							</fieldset>
							<fieldset>
								<legend>Customer Contact Numbers</legend>
								<%= render :partial => "customers/customer_contact_numbers_fixed", :locals => {:f => customer_builder, :form_actions_visible => false} %>
							</fieldset>
							<div class="add-field-links">
								<%= link_to_add_association '<i></i> Add Contact Number'.html_safe, customer_builder, :contact_numbers, :partial => 'contact_numbers/form', :render_options => {:locals => {:form_actions_visible => 'false', :legend_type => 'Customer'}}, :class => 'btn' %>
							</div>
						<% end -%>
					</div>
				</div>
			</div>
			<div class="widget-head">
				<h5>Team</h5>
			</div>
			<div class="widget-content">
				<div class="widget-box cocoon">
					<% if sale.object.roles.count > 0 %>
						<%= sale.fields_for :roles do |roles_builder| %>
							<%= render :partial => "roles/form", :locals => {:f => roles_builder, :form_actions_visible => false} %>
						<% end -%>
					<% end %>
					<div class="add-field-links">
						<%= link_to_add_association '<i></i> Add Team Member'.html_safe, sale, :roles, :partial => 'roles/form', :render_options => {:locals => {:form_actions_visible => 'false'}}, :class => 'btn' %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="nonboxy-widget">
			<div class="widget-head">
				<h5>Vehicle</h5>
			</div>
			<div class="widget-content">
				<div class="widget-box cocoon">
					<%= sale.fields_for :vehicles do |vehicles_builder| %>
			  			<%= render :partial => "vehicles/form", :locals => {:f => vehicles_builder, :form_actions_visible => false, :show_features => true, :fieldset_label => 'Vehicle Details'} %>
						<div class="add-field-links">
						</div>
					<% end -%>
					<div class="add-field-links">
						<%= link_to_add_association '<i></i> Add Vehicle'.html_safe, sale, :vehicles, :partial => 'vehicles/form', :render_options => {:locals => {:form_actions_visible => 'false', :show_features => true, :fieldset_label => 'Vehicle Details'}}, :class => 'btn' %>
					</div>
				</div>
			</div>
			<div class="widget-head">
				<h5>Products</h5>
			</div>
			<div class="widget-content">
				<div class="widget-box cocoon">
					<% if sale.object.products.count > 0 %>
						<%= sale.fields_for :products do |products_builder| %>
							<%= render :partial => "products/form", :locals => {:f => products_builder, :form_actions_visible => false} %>
						<% end -%>
					<% end %>
					<div class="add-field-links">
						<%= link_to_add_association '<i></i> Add Product'.html_safe, sale, :product_sales, :partial => 'product_sales/form', :render_options => {:locals => {:form_actions_visible => 'false' }}, :class => 'btn' %>
					</div>
				</div>
			</div>
			<div class="widget-head">
				<h5>Financial</h5>
			</div>
			<div class="widget-content">
				<div class="widget-box cocoon">
					<% if sale.object.funding_plan_sales.count > 0 %>
						<%= sale.fields_for :funding_plan_sales do |funding_plan_sales_builder| %>
							<%= render :partial => "funding_plan_sales/form", :locals => {:f => funding_plan_sales_builder, :form_actions_visible => false} %>
						<% end -%>
					<% end %>
					<div class="add-field-links">
						<%= link_to_add_association '<i></i> Add Funding Type'.html_safe, sale, :funding_plan_sales, :partial => "funding_plan_sales/form", :render_options => {:locals => {:form_actions_visible => 'false'}}, :class => 'btn' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% if form_actions_visible == true %>
	<div class="row">
		<div class="span12">
			<%= render :partial => "shared/form_actions" %>
		</div>
	</div>
<% end %>