<div class="row">
	<div class="span6">
		<div class="nonboxy-widget">
			<div class="widget-head">
				<h5>Details</h5>
			</div>
			<div class="widget-content">
				<div class="widget-box">
					<div class = 'form-horizontal well'>
						<fieldset>
							<div class="control-group">
								<label class="control-label">Sale Type</label>
								<div class="controls">
									<%= sale.collection_select(:sale_type_id, SaleType.all, :id, :value, {}, {:class => "chzn-select"}) %>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Date of Sale</label>
								<div class="controls">
									<%= sale.text_field :date, :class => 'date' %>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
			<div class="widget-head">
				<h5>Customer</h5>
			</div>
			<div class="widget-content">
				<div class="widget-box">
					<div class = 'form-horizontal well'>
						<%= sale.fields_for :customer do |customer_builder| %>
				  			<%= render :partial => "customers/form", :locals => {:customer => customer_builder, :form_actions_visible => false} %>
						<% end -%>
					</div>
				</div>
			</div>
			<div class="widget-head">
				<h5>Team</h5>
			</div>
			<div class="widget-content">
				<div class="widget-box">
					<div class = 'form-horizontal well'>
						<%= sale.fields_for :roles do |roles_builder| %>
				  			<%= render :partial => "roles/form", :locals => {:role => roles_builder, :form_actions_visible => false} %>
						<% end -%>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="nonboxy-widget">
			<div class="widget-head">
				<h5>Vehicle</h5>
			</div>
			<div class="widget-content">
				<div class="widget-box">
					<div class = 'form-horizontal well'>
						<%= sale.fields_for :vehicles do |vehicle_builder| %>
				  			<%= render :partial => "vehicles/form", :locals => {:vehicle => vehicle_builder, :form_actions_visible => false} %>
							<%= render :partial => "vehicles/features_form", :locals => {:vehicle => vehicle_builder, :form_actions_visible => false} %>
						<% end -%>
					</div>
				</div>
			</div>
			<div class="widget-head">
				<h5>Financial</h5>
			</div>
			<div class="widget-content">
				<div class="widget-box">
					<div class = 'form-horizontal well'>
						Placeholder
					</div>
				</div>
			</div>
			<div class="widget-head">
				<h5>Products</h5>
			</div>
			<div class="widget-content">
				<div class="widget-box cocoon">
					<%= sale.fields_for :products do |products_builder| %>
			  			<%= render :partial => "products/form", :locals => {:product => products_builder, :form_actions_visible => false} %>
					<% end -%>
					<div class="add-field-links">
						<%= link_to_add_association '<i></i> Add Product'.html_safe, sale, :products, :partial => 'products/form', :render_options => {:locals => {:form_actions_visible => 'false' }}, :class => 'btn' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span12">
		<% if form_actions_visible == true %>
			<%= render :partial => "shared/form_actions" %>
		<% end %>
	</div>
</div>