<%= render :partial => "shared/tablecontrols" %>
<div class="container">
	<div class="row">
			<div class = "span12">
				<div class="nonboxy-widget">
	    			<div class="widget-head">
						<h5>Sales</h5>
					</div>
      				<table class="data-tbl-simple table table-bordered">
        			<thead>
						<tr>
	          				<th class="editpath">
								Edit Link
							</th>
							<th class="deletepath">
								Delete Link
							</th>
							<th class="first">
								ID
							</th>
	                    	<th>
								Customer
	          				</th>
	                    	<th>
								Vehicle
							</th>
	          				<th>
								Date of Sale
							</th>
	        			</tr>
					</thead>
					<tbody>
        				<% @sales.each do |sale| %>
						<tr class="<%= cycle("odd", "even") %>">
	          				<td>
								<%= edit_sale_path(sale) %>
							</td>
							<td>
								<%= sale_path(sale) %>
							</td>
							<td>
	            				<%= sale.id %>
	          				</td>
	                    	<td>
	            				<%= link_to sale.customer.features.where(:feature_type_id => "1").first.value + " " + sale.customer.features.where(:feature_type_id => "2").first.value, customer_path(sale.customer) %>
	          				</td>
	                    	<td>
	            				<%= link_to sale.vehicles.first.trim.model.make.value + " " + sale.vehicles.first.trim.model.value, vehicle_path(sale.vehicles.first) %>
	          				</td>
							<td>
								<%= sale.date %>
							</td>
	        			</tr>
	        			<% end %>
					</tbody>
      			</table>
	    		</div>
			</div>
		</div>
</div>