<% title "Sales" %>

<table>
  <tr>
    <th>Dealer</th>
    <th>Customer</th>
    <th>Date</th>
    <th>Sale Type</th>
  </tr>
  <% for sale in @sales %>
    <tr>
      <td><%= sale.dealer_id %></td>
      <td><%= sale.customer_id %></td>
      <td><%= sale.date %></td>
      <td><%= sale.sale_type_id %></td>
      <td><%= link_to "Show", sale %></td>
      <td><%= link_to "Edit", edit_sale_path(sale) %></td>
      <td><%= link_to "Destroy", sale, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Sale", new_sale_path %></p>
