
<div class="container">
	<ul class="breadcrumb">
		<li><a href="#">Home</a><span class="divider">&raquo;</span></li>
		<li><a href="#">Library</a><span class="divider">&raquo;</span></li>
		<li class="active">Data</li>
	</ul>
		<div class="row">
			<div class = "span12">
				<div class="nonboxy-widget">
	    			<div class="widget-head">
						<h5>Sales</h5>
					</div>
      				<table class="data-tbl-simple table table-bordered">
        			<thead>
						<tr>
	          				<th class="first">Customer</th>
	                    	<th>
								
	          				</th>
	                    	<th>
								<%= t("web-app-theme.created_at", :default => "Created at")  %>
							</th>
	          				<th class="last">
								&nbsp;
							</th>
	        			</tr>
					</thead>
					<tbody>
        				<% @sales.each do |sale| %>
	        			<tr class="<%= cycle("odd", "even") %>">
	          				<td>
	            				<%= sale.id %>
	          				</td>
	                    	<td>
	            				<%= link_to sale.customer.features.where(:feature_type_id => "1").first.value + " " + sale.customer.features.where(:feature_type_id => "2").first.value, customer_path(sale.customer) %>
	          				</td>
	                    	<td>
	            				<%= link_to sale.vehicles.first.make.value + " " + sale.vehicles.first.model.value, vehicle_path(sale.vehicles.first) %>
	          				</td>
	          				<td class="last">
	            				<%= link_to "#{t("web-app-theme.show", :default => "Show")}", sale_path(sale) %> |
	            				<%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_sale_path(sale) %> |
	            				<%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", sale_path(sale), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
	          				</td>
	        			</tr>
	        			<% end %>
					</tbody>
      			</table>
	    		</div>
			</div>
		</div>
	</div>
</div>