<div class="container">
	<%= form_for :sale, :url => sales_path do |sale| -%>
		<div class="row">
			<div class="span6">
				<div class="nonboxy-widget">
					<div class="widget-head">
						<h5>Customer</h5>
					</div>
					<div class="widget-content">
						<div class="widget-box">
							<div class = 'form-horizontal well'>
								<%= sale.fields_for :customer do |customer_builder| %>
						  			<%= render :partial => "customers/form", :locals => {:customer => customer_builder, :form_actions_visible => false} %>
								<% end -%>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="nonboxy-widget">
					<div class="widget-head">
						<h5>Vehicle</h5>
					</div>
					<div class="widget-content">
						<div class="widget-box">
							<div class = 'form-horizontal well'>
								<%= sale.fields_for :vehicles do |vehicle_builder| %>
						  			<%= render :partial => "vehicles/form", :locals => {:vehicle => vehicle_builder, :form_actions_visible => false} %>
								<% end -%>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<div class="nonboxy-widget">
					<div class="widget-head">
						<h5>Financial</h5>
					</div>
					<div class="widget-content">
						<div class="widget-box">
							<div class = 'form-horizontal well'>
								Placeholder
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="nonboxy-widget">
					<div class="widget-head">
						<h5>Team</h5>
					</div>
					<div class="widget-content">
						<div class="widget-box">
							<div class = 'form-horizontal well'>
								Placeholder
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<div class="form-actions" align="center">
					<%= content_tag :button, :type => :submit, :class => "btn btn-info" do -%>
						Save Changes
					<% end -%>
					<%= content_tag :button, :type => :cancel, :class => "btn btn-warning" do -%>
						Cancel
					<% end -%>
				</div>
			</div>
		</div>
	<% end -%>	
</div>
