
  <div class="group">
    <%= f.label :address_id, t("activerecord.attributes.address_employer.address_id", :default => "Address"), :class => :label %>
    <%= f.number_field :address_id, :class => 'number_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :employer_id, t("activerecord.attributes.address_employer.employer_id", :default => "Employer"), :class => :label %>
    <%= f.number_field :employer_id, :class => 'number_field' %>
    <span class="description">Ex: a simple text</span>
  </div>
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>
  <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
	<%= link_to t("web-app-theme.cancel", :default => "Cancel"), address_employers_path, :class => "text_button_padding link_button" %>
</div>
