<%= f.hidden_field :currency_id, :value => Currency.where(:value => 'UK Pound').first.id %>
<div class='nested-fields form-horizontal'>
	<fieldset>
	  <%= remove_form_link(f) %>
		<legend>Product Details</legend>
		<% f.object.build_product if f.object.product.blank? %>
		<%= f.fields_for :product do |product_builder| %>
			<%= render :partial => "products/form", :locals => {:f => product_builder, :form_actions_visible => false} %>
		<% end -%>
		<div class="control-group">
			<label class="control-label">Selling Price</label>
			<div class="controls">
				<%= f.text_field :price, :class => 'input-large price-contributor' %>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Tax Rate</label>
			<div class="controls">
				<%= f.collection_select(:tax_rate_id, TaxRate.all, :id, :name, {prompt: ""}, {:class => "chzn-select", "data-placeholder" => "Select Tax Rate"}) %>
			</div>
		</div>
		<% if form_actions_visible == true %>
			<div class="form-actions">
				<%= render :partial => "shared/form_actions" %>
			</div>
		<% end %>
	</fieldset>
</div>