<%= f.hidden_field :currency_id, :value => Currency.where(:value => 'UK Pound').first.id %>
<div class='nested-fields form-horizontal'>
	<fieldset>
		<legend>Product Details</legend>
		<%= add_fixed_fields('product', [""], f, false, true) %>
		<div class="control-group">
			<label class="control-label">Price</label>
			<div class="controls">
				<%= f.text_field :price, :class => 'input-large' %>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Tax Rate</label>
			<div class="controls">
				<%= f.collection_select(:tax_rate_id, TaxRate.all, :id, :name, {prompt: ""}, {:class => "chzn-select", "data-placeholder" => "Select Tax Rate"}) %>
			</div>
		</div>
		<% if form_actions_visible == true %>
			<div class="form-actions">
				<%= render :partial => "shared/form_actions" %>
			</div>
		<% end %>
	</fieldset>
</div>